@{
    Layout = "_Empty";
}

@model UserViewModel

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ITICDE | Registeration Page </title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
<div class="register-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="../../index2.html" class="h1"><b>ITICDE</b></a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Register a new membership</p>

      <form asp-controller="Account" asp-action="Register" method="post" role="form">
        <div class="input-group mb-3">
          <input asp-for="Name" class="form-control" placeholder="Full name">
          <div class="input-group-append">
            <div class="input-group-text">
              <span asp-validation-for="Name" class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input asp-for="Email" class="form-control" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span asp-validation-for="Email" class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input asp-for="Password" class="form-control" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span asp-validation-for="Password" class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input required asp-for="Password" class="form-control" placeholder="Confirm password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span asp-validation-for="Password" class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <select required asp-for="OrganizationType" class="form-control" asp-items="Html.GetEnumSelectList<OrganizationType>()">
          <option disabled selected>-- Choose Your Organization--</option>
          </select>
          <div class="input-group-append">
            <div class="input-group-text">
              <span asp-validation-for="OrganizationType" class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <select required asp-for="Discipline" class="form-control" asp-items="Html.GetEnumSelectList<Discipline>()">
          <option disabled selected>--Choose Your Displine--</option>
          </select>
          <div class="input-group-append">
            <div class="input-group-text">
              <span asp-validation-for="Discipline" class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <select required asp-for="Position" class="form-control" asp-items="Html.GetEnumSelectList<Position>()">
          <option disabled selected>--Choose Your Position--</option>
          </select>
          <div class="input-group-append">
            <div class="input-group-text">
              <span asp-validation-for="Position" class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        
        <div class="row justify-content-center">
          
          <!-- /.col -->
          <div class="col-6 ">
            <button type="submit"  class="btn btn-primary btn-block text">Register</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <a href="Login.cshtml" class="text-center">I already have a membership</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
</body>
</html>

@section Scripts{ 
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
























@*@model UserViewModel
<h1 class="text-info">Register</h1>
<form asp-controller="Account" asp-action="Register" method="post" role="form">
    <h4>Create a new account</h4>
    <hr />
    @*<div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group col-md-4">
        <label asp-for="Email" class="col-md-4"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="col-md-2 "></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OrganizationType" class="col-md-2"></label>
        <div class="col-md-10">
            <select asp-for="OrganizationType" class="form-control" asp-items="Html.GetEnumSelectList<OrganizationType>()" >
            <option disabled selected>--Please Select--</option>
            </select>
             <span asp-validation-for="OrganizationType" class="text-danger"></span>
        </div>
    </div>

     <div class="form-group">
        <label asp-for="Discipline" class="col-md-2"></label>
        <div class="col-md-10">
            <select asp-for="Discipline" class="form-control" asp-items="Html.GetEnumSelectList<Discipline>()" >
            <option disabled selected >--Please Select--</option>
            </select>
             <span asp-validation-for="Discipline" class="text-danger"></span>
        </div>
    </div>
   
    <div class="form-group">
        <label asp-for="Position" class="col-md-2"></label>
        <div class="col-md-10">
            <select asp-for="Position" class="form-control" asp-items="Html.GetEnumSelectList<Position>()" >
            <option disabled selected >--Please Select--</option>
            </select>
             <span asp-validation-for="Position" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <button type="submit" class="btn btn-success form-control">Register</button>
        </div>
    </div>
</form>

@section Scripts{ 
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}*@
