@using ITICDE.Enums
@model ITICDE.Models.Project
@{ Layout = "_ProjectsLayout";}

@{
    ViewData["Title"] = "Create";
}
<head>
    <script src="https://kit.fontawesome.com/056ba6c557.js" crossorigin="anonymous"></script>
</head>

<h1>Create a Project</h1>


<hr />
<div class="row">
    <div class="col-md-8" style="padding-left:500px">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Units" class="control-label"></label>
                <select asp-for="Units" class="form-control" asp-items="Html.GetEnumSelectList<Units>()"></select>
                <span asp-validation-for="Units" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Progress" class="control-label"></label>
                <select asp-for="Progress" class="form-control" asp-items="Html.GetEnumSelectList<Progress>()"></select>
                <span asp-validation-for="Progress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
    <a asp-action="Index" class="btn btn-outline-secondary">  <i class="fa-solid fa-circle-left"></i> &nbsp;Back to List</a>

                <input type="submit" value="Create" class="btn btn-primary" style="
    float: right;
    width: 100px;
"/>

            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
