@using ITICDE.Enums
@model ITICDE.Models.View

@{
    ViewData["Title"] = "Edit";
    var usrid = UserManager.GetUserAsync(User).Result.Id;
    var ProjId = (int)ViewData["ProjectId"];
}

<h1>Edit</h1>

<h4>View</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-route-ProjectId="@ProjId" asp-route-UserId="@usrid" value="Save" class="btn btn-primary" />
                <a asp-action="Index" asp-route-ProjectId="@ProjId" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
