@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using System.Security.Claims
@model ITICDE.Models.Team

@{
    ViewData["Title"] = "Create";
    var user = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var TeamAdmin = ViewBag.TeamLeader;
    var ProjectId = ViewBag.ProjectId;
}

<h1>Create</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
         @*   <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <input asp-for="ProjectId" class="form-control" />
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>*@

           @* <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class ="form-control" asp-items="ViewBag.ProjectId"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="TeamLeaderId" class="control-label"></label>
                <select asp-for="TeamLeaderId" class ="form-control" asp-items="ViewBag.TeamLeaderId"></select>
            </div>
            <div class="form-group">
				<a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
                <input type="submit" asp-route-ProjectId="@ProjectId" asp-route-TeamLeader="@TeamAdmin" asp-route-CreatorUserId="@user" value="Create" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
